@import '../globals.css';

.header {
    width: 100vw;
    height: 200px;
    background-color: var(--color-gray-700);

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
    
}

.header img {
    position: absolute;
}