@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --color-gray-100: #f2f2f2;
  --color-gray-200: #f2f2f2;
  --color-gray-300: #808080;
  --color-gray-400: #333333;
  --color-gray-500: #262626;
  --color-gray-600: #1a1a1a;
  --color-gray-700: #0d0d0d;

  --color-purple: #8284fa;
  --color-purpleDark: #5e60ce;

  --color-blue: #4ea8de;
  --color-blueDark: #1e6f9f;

  --color-danger: #e25858;

  --color-white: #ffffff;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--color-purpleDark);
  color: var(--color-white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--grey-300);
}

html, body, input, button {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}